<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.87965 26.223561" [attr.height]="xHeight" [attr.width]="xWidth">
  <g transform="translate(-113.75 -217.984)" stroke="#000" stroke-width=".397" stroke-linejoin="round">
      <circle cy="221.641" cx="117.408" r="3.459" fill-rule="evenodd"/>
      <circle cx="117.408" cy="230.984" r="3.459" fill-rule="evenodd"/>
      <circle cy="240.55" cx="117.408" r="3.459" fill-rule="evenodd"/>
      <circle cx="126.973" cy="221.641" r="3.459" fill="none" stroke="#999999"/>
      <circle cy="230.984" cx="126.973" r="3.459" fill="none" stroke="#999999"/>
      <circle cx="126.973" cy="240.55" r="3.459" fill="none" stroke="#999999"/>
  </g>
</svg>
